In [5]:
import os
os.getcwd()

'/home/jovyan/work'

In [15]:
import numpy as np
import pandas as pd

# train = pd.read_csv('data/train.csv').fillna(' ')
train = pd.read_csv('data/train-dummy.csv').fillna(' ')
test = pd.read_csv('data/test.csv').fillna(' ')

In [16]:
train.head()

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0000997932d777bf,hello asshole,0,0,0,0,1,0
1,000103f0d9cfb60f,hello good sir,0,0,0,0,0,0
2,000113f07ec002fd,AND A GOOD DAY TO YOU!,0,0,0,0,0,0
3,0001b41b1c6bb37e,LEROY JENKINS!!!!!,1,0,0,0,0,0

In [18]:
train[(train.toxic != 0) | (train.insult != 0)].head()

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0000997932d777bf,hello asshole,0,0,0,0,1,0
3,0001b41b1c6bb37e,LEROY JENKINS!!!!!,1,0,0,0,0,0

In [19]:
test.head()

                 id                                       comment_text
0  00001cee341fdb12  Yo bitch Ja Rule is more succesful then you'll...
1  0000247867823ef7  == From RfC == \n\n The title is fine as it is...
2  00013b17ad220c46  " \n\n == Sources == \n\n * Zawe Ashton on Lap...
3  00017563c3f7919a  :If you have a look back at the source, the in...
4  00017695ad8997eb          I don't anonymously edit articles at all.

In [20]:
train.comment_text[3]  # many single and double quotes

'LEROY JENKINS!!!!!'